.firstDiv{
    width: 32%;
    
    border: 1px solid #ecedeb;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.firstDiv p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}
.cardsPar{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 10px;
    margin-top: 30px;
}